{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            {{menu|raw}}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input></input>
        </div>
    </div>
    

{% endblock %}
{% block javascripts %}
   {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){

        $(".padre").on("click", function(){
            
            var node = $(this).attr('id').split('_');

            $.ajax({
                type: 'POST',
                url: '{{path("menu_hijo")}}',
                data:{'padre':node[1]},
                success: function(data){
                    console.log(data)
                }
            })
        })

    });
    </script>
{% endblock %}