{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div id="acciones">hhh</div>
            <div>{{menu|raw}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input></input>
        </div>
    </div>
    

{% endblock %}
{% block javascripts %}
   {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function(){

        printHijo = function(data, padre){
            //console.log(data);
            $("#hijo_"+padre).remove();
            var html = '<ul id="hijo_'+padre+'">';
            var espace = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
            for (var i = 0; i < data.length; i++) {

                if (data[i].tiene_hijo==1) {
                    html += '<li id="item_'+data[i].id+'" >';
                    html += espace+'<a href="#" id="link_'+data[i].id+'" class="padre">';
                    html += '<i class="ace-icon fa fa-circle" onclick="MostrarHijo('+padre+')"></i>';
                    html += '<span onclick="Accion('+data[i].id+')">'+data[i].nombre+'</span>';
                    html += '</a>';
                    html += '</li>';
                }else{
                    html += '<li id="item_'+data[i].id+'">';
                    html += espace+'<i class="ace-icon fa fa-circle-o"></i>';
                    html += '<span onclick="Accion('+data[i].id+')">'+data[i].nombre+'</span>';
                    html += '</li>';
                }
                
            }
            html += '</ul>';

            $("#item_"+padre).append(html);
        }

        

        MostrarHijo = function(padre){
        
            //var node = $(this).attr('id').split('_');

            $.ajax({
                type: 'POST',
                url: "{{path('menu_hijo')}}",
                data:{'padre':padre},
                success: function(data){
                    printHijo(data, padre);
                }
            })
        }

        Accion=function(id){
            console.log(id);
        }
        
    });
    </script>
{% endblock %}