{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Ingreso</th>
                <th>Ini_almuerzo</th>
                <th>Fin_almuerzo</th>
                <th>Salida</th>
                <th>Create_at</th>
                <th>Update_at</th>
                <th>Create_user</th>
                <th>Update_user</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

    
{% endblock %}
